.on{background-color:red !important;}

.cart-notify i span{background:red;}

/*--Home page About us icon*/
#home-banner a.btn.chooser-btn{background-color:red;}

.col-about-us i {
    color: red ;
}
/*--why-choose-us background*/
#why-choose-us .section-title{background:red;}
#why-choose-us .section-title:after{background:red;}


/*--our-work-block background*/

#our-work-block .works figcaption{    background: rgba(255,0,0,0.5);}
/*--services icon*/
.services-block i{background:red;}

#testimonial.owl-theme .owl-controls .owl-page.active {
	opacity: 1;
	border:1px red solid;
}

/*--clients*/
#clients-block{
	background:red;
	
}
/*--article head color*/
article a h5:hover {
	color: red;
	
}
/*--Free trial color*/

#free-trial-block a {border: 1px red solid; background:red;}

/*--Footer*/
.subcribe-block form .btn i.fa{color:red;}

.subcribe-block form input:focus {
	border: 1px red solid;}
	.bottom-footer .site-identity .socio li a:hover {
	color: red;
	transition: all 0.5s;
}

/*single*/

aside .widget_search button {
	background: red;
}
aside .widget_search button:hover {

	border: 1px red solid;
}

.widget-title:after{background:red;}

.tagcloud a:hover {
	
	background: red;

}

.single .single-post ul li:before, .page .page-block ul li:before {background:red;}
blockquote {border-left: 3px red solid;}

.author-box .author-box-title {
	color: red;
	
}
.author-box .author-box-title a {
	background: red;

}

.single .single-post footer.entry-meta-bar a:hover, .page .page-block footer.entry-meta-bar a:hover {

	border: 0px red solid;
	background: red;
	
}

.posts-navigation ul li a:hover {

	border-color: red;
	background: red;
	
}

#respond input[type=submit] {
	background:red;}
	
article header .date-article {background:red;}